@{
    ViewData["Title"] = "Administration";
}

<br /><br />
<div class="row col center">
    <form method="post">
        <button class="btn btn-large waves-effect waves-light pink lighten-2" type="submit" value="Logout">Logout</button>
    </form>
</div>