@{
    ViewData["Title"] = "Verwaltung";
}

<br /><br />
<div class="row col center">
    <form method="post" asp-controller="Admin" asp-action="Logout" id="logoutForm">
        <input class="btn btn-large waves-effect waves-light pink lighten-2" type="submit" value="Logout" />
    </form>
</div>