@{
    ViewData["Title"] = "Verwaltung";
}

<br />
<div class="row col center">
    <form method="post" asp-controller="Admin" asp-action="Logout" id="logoutForm">
        <button class="btn btn-large waves-effect waves-light pink lighten-2" type="submit">Logout</button>
    </form>
</div>