@{
    ViewData["Title"] = "About me";
}

<br /><br /><br />
<div class="row center">
    <div class="col s12">
        <img src="~/portrait.jpg" alt="Portrait Melissa TortenKreation" class="circle responsive-img z-depth-2 portrait">
    </div>
</div>
<div class="row">
    <div class="col s12 center-align grey-text">
        <h2 class=" text-darken-1 thin">Backen ist meine Leidenschaft.</h2>
        <p class="flow-text">Hi, ich bin Melissa aus Schloß Holte-Stukenbrock. Ich liebe backen und freue mich auf eine Kontaktaufnahme.</p>
        <a class="btn-flat pink-text text-lighten-2 btn-thin" data-tooltip="Kontaktiere mich via E-Mail" href="mailto:kontakt@tortenkreation-shs.de"><i class="material-icons left">email</i>kontakt@tortenkreation-shs.de</a>
        <br /><br /><br /><br />
        <div class="divider"></div>
    </div>
</div>
<div class="row grey-text">
    <div class="col s12 m6">
        <div class="section">
            <h5 class="text-darken-2 bold">Haftung für Inhalte</h5>
            <p class="text-darken-1">Die Inhalte auf diesen Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte kann ich jedoch keine Gewähr übernehmen. Als Diensteanbieter bin ich gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG bin ich als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werde ich diese Inhalte umgehend entfernen.</p>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="section">
            <h5 class="text-darken-2 bold">Urheberrecht</h5>
            <p class="text-darken-1">Die Inhalte auf diesen Seiten, insbesondere Fotos und Texte, unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen meiner schriftlichen Zustimmung. Downloads und Kopien sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.</p>
        </div>
        <div class="section">
            <h5 class="text-darken-2 bold">Datenschutz</h5>
            <p class="text-darken-1">Die Nutzung dieser Seiten ist ohne Angabe personenbezogener Daten möglich. Ich verwende keine Werkzeuge zur Datenverkehrsanalyse, keine Werbung, keine Cookies. Es werden keine Drittanbieterkomponenten an dein Gerät übertragen.</p>
        </div>
    </div>
</div>
