@{
    ViewData["Title"] = "Home";
}


<br><br>
<h1 class="header center pink-text text-lighten-2 bold">Tortenkreation SHS</h1>
<div class="row center">
    <h5 class="header col s12 light grey-text text-darken-1">Individuelle Tortengestaltung aus Schloß Holte-Stukenbrock.</h5>
</div>
<div class="row center">
    <br />
    <a asp-route="list-posts" class="btn-large waves-effect waves-light pink lighten-2"><i class="material-icons left">feedback</i>Blog</a>
    <a asp-route="list-pictures" class="btn-large waves-effect waves-light pink lighten-2"><i class="material-icons left">cake</i>Galerie</a>
</div>
<br><br>
