<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/css/materialize.min.css" rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet">
    <script src="~/js/jquery.min.js" type="text/javascript"></script>
    <script src="~/js/materialize.min.js" type="text/javascript"></script>
    <script src="~/js/scripts.js" type="text/javascript"></script>
</head>
<body>
    <nav class="pink lighten-3" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" asp-route="home" class="brand-logo white-text thin">Tortenkreation</a>
            <ul class="right hide-on-med-and-down">
                <li><a asp-route="home" class="white-text">Home</a></li>
                <li><a asp-route="list-pictures" class="white-text">Tortengalerie</a></li>
                <li><a asp-route="about-me" class="white-text">Über mich</a></li>
            </ul>
            <ul id="nav-mobile" class="sidenav">
                <li><a asp-route="home" class="grey-text text-darken-1 waves-effect">Home</a></li>
                <li><a asp-route="list-pictures" class="grey-text text-darken-1 waves-effect">Tortengalerie</a></li>
                <li><a asp-route="about-me" class="grey-text text-darken-1 waves-effect">Über mich</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons white-text">menu</i></a>
        </div>
    </nav>
    @RenderBody()
    <footer class="page-footer pink lighten-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Tortenkreation SHS</h5>
                    <p class="grey-text text-lighten-4">Individuelle Tortengestaltung aus Schloß Holte-Stukenbrock.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a asp-route="home" class="grey-text text-lighten-3">Home</a></li>
                        <li><a asp-route="list-pictures" class="grey-text text-lighten-3">Tortengalerie</a></li>
                        <li><a asp-route="about-me" class="grey-text text-lighten-3">Über mich</a></li>
                        @if (User.Identity.IsAuthenticated) {
                            <li><a asp-route="admin" class="grey-text text-lighten-3">Logout</a></li>
                        } else {
                            <li><a asp-route="login" class="grey-text text-lighten-3">Login</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © @DateTime.Now.Year.ToString() Copyright Tortenkreation SHS
                <a class="btn-floating btn-flat waves-effect waves-light right" href="#" title="Zum Anfang"><i class="material-icons">keyboard_arrow_up</i></a>
            </div>
        </div>
    </footer>
</body>
</html>
